
/* Styles for consumer.html, and any similar landing pages */

#post-container {
  width: 100%;
  padding-bottom: 100px;
  margin: 2em;

  header, #post-content {
    @media #{$desktop} {
      max-width: 1200px;
    }

    @media #{$mobile} {
      max-width: 90%;
    }
  }

  header {
    margin-top: 10px;
  }

  #post-content{
    padding: 2em;
    background: transparentize(white, 0.4);

    img {
      background: white;
      padding: 1em;
      border: 1px solid black;
      margin: 1em auto;
      max-width: 75%;
      display: block;
    }

    img + br {
      display: none;
    }
  }
}
